{% extends 'master.html' %}
{% block logout %}
{% load static %}
<a href="logout/"><img style="height:40px;width:40px" src="{% static 'assets/media/icons/logout.jpeg' %}"
    alt="logout" /></a>
{% endblock %}
{% block content %}
{% load static %}
<div class="row gy-5 g-xl-10">
  <!--begin::Col-->
  <div class="col-xl-12 mb-5 mb-xl-5">
    <!--begin::Table Widget 4-->
    <div class="card card-flush h-xl-100">
      <!--begin::Card header-->
      <div class="card-header pt-7">
        <!--begin::Title-->
        <h2 class="card-title align-items-start flex-column">
          <span class="card-label fw-bold text-gray-800">Appointment :-</span>
        </h2>
        <!--end::Title-->
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body pt-2">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          <strong>Message:</strong> {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>
        {% endfor %}
        <form class="container" action="/appointment/appointment/" method="post">
          {% csrf_token %}
          <br><br>
          <!-- <label>If there are multiple friends please seperate them by a comma (,)</label>  -->
          <div class="row">
            <div class="form-floating mb-3 mt-3">
              <select class="form-select" aria-label="Select example" name="appointment">
                <option value="testdrive" selected="selected">Schedule Test Drive</option>
                <option value="appointment">Schedule Appointment</option>
              </select>
  
              <label for="appointment">Appointment</label>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                This field is required
              </div>
            </div>
            <div class="col-6 my-5">
              <input class="form-control col-6" type="date" name="appointment_date">
            </div>
            <div class="col-6 my-5">
              <input class="form-control col-6" type="time" name="appointment_time">
            </div>

          </div>

          <input class="btn btn-primary" type="submit" value="Book Appointment">
        </form>
      </div>

    </div>
    <!--end::Card body-->
  </div>
  <!--end::Table Widget 4-->
</div>
<!--end::Col-->
</div>

{% endblock %}