{% extends 'master.html' %}
{% block title %}Profile{% endblock %}
{% block pageTitle %}Profile{% endblock %}
{% block logout %}
{% load static %}
<a href="logout/"><img style="height:40px;width:40px" src="{% static 'assets/media/icons/logout.jpeg' %}"
    alt="logout" /></a>
{% endblock %}

{% block content %}

<div class="row">
  <div class="card card-flush h-xl-100">
    <div class="card-body">
      <div class="col-12">
        <h2 class="bold text-dark m-5">
          {{ success }}
          {{ error }}
        </h2>
        <form class="row g-3 needs-validation" novalidate id="registration_form" action="modifyprofile/" method="POST"
          data-parsley-validate="">{% csrf_token %}
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="firstname" placeholder="Enter Firstname" name="firstname"
              required="" value="{{ first_name }}">
            <label for="firstname">First Name</label>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              This field is required
            </div>
          </div>
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="lastname" placeholder="Enter lastname" name="lastname"
              required="" value="{{ last_name }}">
            <label for="lastname">Last Name</label>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              This field is required
            </div>
          </div>
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username"
              required="" value="{{ username }}">
            <label for="username">Username</label>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              This field is required
            </div>
          </div>
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="email" placeholder="Enter email" name="email"
              data-parsley-trigger="change" required="" value="{{ email }}" readonly>
            <label for="email">Email</label>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              This field is required
            </div>
          </div>

          <input class="btn btn-primary" type="submit">
        </form>
        <form class="row g-3 needs-validation" id="deleteaccount" action="deleteaccount/" method="POST">{% csrf_token %}
          
            <input type="hidden" class="form-control" id="deleteaccount" placeholder="Enter Delete" name="deleteaccount"
              value="delete">
                 <button class="btn btn-danger mt-5" type="submit" >Delete Account</button>
        </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')
    let mobile = document.getElementById('mobile')
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          phoneFormat(mobile);
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
          form.classList.add('was-validated')
        }, false)
      })
  })()


  function phoneFormat(mobile) {
    if (!input || isNaN(input)) return `input must be a number was sent ${input}`
    if (typeof (input) !== 'string') input = input.toString()
    if (input.length === 10) {
      return input.replace(/(\d{3})(\d{3})(\d{4})/, "$1-$2-$3");
    } else if (input.length < 10) {
      return 'was not supplied enough numbers please pass a 10 digit number'
      console.log('was not supplied enough numbers please pass a 10 digit number')
    }
    //return error was not supplied enough numbers please pass a 10 digit number
    //if not check if length is greater than 10
    //return was supplied too many numbers please pass a 10 digit number
    //if not send something went wrong error for a catch all just in case
  }
</script>
{% endblock %}